[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
tox = "*"
coveralls = "*"
pylint = "*"
yapf = "*"
jedi = "*"

[packages]
click = "*"
i3ipc = "*"
psutil = "*"
natsort = "*"

[requires]
python_version = "3.8"
